include "config/env.kdl"
include "config/input.kdl"
include "config/output.kdl"
include "config/colors.kdl"
include "config/autostart.kdl"
include "config/keybinds.kdl"
include "config/animations.kdl"

layout {
    background-color "transparent"
    border {
        off
    }
    focus-ring {
        off
    }
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

layer-rule {
    match namespace="^wallpaper-bg$"
    place-within-backdrop true
}
