window-rule {
    match app-id=r#"^(Twintaillauncher|app\.twintaillauncher\.ttl)$"#
    open-maximized true
}

window-rule {
    match app-id=r#"^(net\.lutris\.Lutris|lutris)$"#
    open-maximized true
}

window-rule {
    match app-id=r#"^steam$"#
    open-maximized true
}

window-rule {
    match app-id=r#"^(org\.prismlauncher\.PrismLauncher|PrismLauncher)$"#
    open-maximized true
}

window-rule {
    match app-id="^(com.shellyorg.shelly)"
    open-floating true
}

